<div class="container">
  <form class="box">
    <h1 class="title">Typing Game</h1>
    <div class="field">
      <label class="label">Type this as fast as you can:</label>
      <div>
        <span *ngFor="let letter of sentence.split(''); let i=index;"><span [class]="compareLetters(i)">{{ letter }}</span></span>
      </div>
      <div class="control">
        <input class="input" (input)="compareSentences($event)">
      </div>
    </div>
    <p *ngIf="winningSentence">You win!!!!🥳</p>
  </form>
</div>